*{
    padding: 0%;
    margin: 0%;
}
header.container{
    width: 100%;
    margin: auto;
    background: url(https://cdn.pixabay.com/photo/2021/05/18/07/38/desert-6262547_960_720.jpg);
    background-size: cover;
    height: 40vh;
}
.container-menu{
    width: 95%;
    display: flex;
    margin: auto;
    height: 60px;
    border-bottom:2px solid rgb(187, 149, 149);
}
.container-menu .list{
    width: 80%;  
    padding-top: 6px;
}
.container-menu .list ul{
    display: flex;
    justify-content: space-around;
    line-height: 60px;
}
.container-menu .icon{  
    width: 20%;        
}
.container-menu .far{
    width: 20%;
    /* height: 46%; */
    border: 2px solid;
    border-radius: 50%;   
    text-align: center;    
    line-height: 46px;
    font-size: 35px;  
    font-weight: 700;  
}
.container-menu .icon p{    
        text-align: right;
        margin-right: 20px; 
        width: 100%;   
}
header .container-img{
    padding: 72px 0px 0px 122px;
}
/* .container-img .btn{
    display: block;    
} */
header input.buscar {
    width: 87%;
    padding: 7px;
    outline: none;
    border: white;
    font-size: 20px;
}
header button.btn {
    width: 50%;
    font-size: 20px;
    border-radius: 20px;
    background-color:white;
}
header i.fas.fa-search {
    margin-top: 10px;
}
nav .container{
    background: url(https://cdn.pixabay.com/photo/2014/10/22/17/47/keyboard-498396_960_720.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
}
nav .container-texto{
    /* border: 2px solid rgb(187, 149, 149); */
    width: 45%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
nav .container-img{
    width: 45%;
    margin: auto;
}
nav .container-texto .texto{
    border: 2px solid #666;
    height: 200px;
    margin-bottom:  10px;
    width: 45%;
    text-align: center;
}
nav .container-texto .medio{
  margin-top: 27%;
}
nav .container-texto .texto h2{
    font-size: 50px;
}